/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}

#navbarSection {
	color: #04A5D3;
	background-color: ;
	font-weight: bold;
	padding-bottom: 10px;
}

#eolLogo {
	width: 220px;
	height: 45px;
}

#landing {
	background-image: url("./images/landingBG1.jpg");
	height: 650px;
	color: white;
}

#mainContent {
	background-color: ;
}

#carouselSection {
	background-color: #050505;
}

#aboutMe {
	font: helvetica;
	padding: 25px;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#btnSubmit {
	margin-top: 1rem;
	color: #FAE8CF;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.5rem;
}

#contactMe {
	background-image: url("./images/contactBG.jpg");
	height: auto;
	color: white;
}

#footer {
	padding: 1rem;
	text-align: center;
	background-color: ;
	color: ;
	margin-top: 1rem;
	padding-top: 1rem;
}

#mainContent h1 {
	color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
}

.myprojectsImg {
	width: 300px;
	height: 300px;
}

.carousel-caption {
	padding: 0;
	border-radius: 5px;
	color: #000000;
}

#landing button {
	margin-top: 1rem;
	color: #FAE8CF;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.75rem;
}